body{
    background-image: url('12.jpg')
}

.head{
    color: #f05e5e;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #fff;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

table, th, tr, td{
    border: 5px solid;
    background-color: antiquewhite;
    margin-left: 800px;
}
th,td{
    padding: 10px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}